<div class="title">
  Convert km to miles
</div>
<div>
  <form [formGroup]="myForm">
    <input type="text" [formControl]="myForm.controls['distance1']">
  </form>
</div>
<conversor [value]="myForm.controls['distance1'].value" [type]="1"></conversor>


<div class="title">
  Convert miles to km
</div>
<div>
  <form [formGroup]="myForm">
    <input type="text" [formControl]="myForm.controls['distance2']">
  </form>
</div>
<conversor [value]="myForm.controls['distance2'].value" [type]="2"></conversor>
